<!-- Guidance -->
  <section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].guidance.section | default: "guidance" }}">
    <div class="container">

      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 text-center mx-auto">
          {% if site.data.sitetext[site.locale].guidance.title %}
            <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].guidance.title }}</h2>
	        {% endif %}
          {% if site.data.sitetext[site.locale].guidance.photo %}
            <img class="w-100" src="{{ site.data.sitetext[site.locale].guidance.photo.path }}"/>
          {% endif %}
          {% if site.data.sitetext[site.locale].guidance.text %}
		        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].guidance.text }}</h3>
		      {% endif %}
        </div>
      </div>

      <div class="row text-center">
	  {% for service in site.data.sitetext[site.locale].guidance.list %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="{{ service.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">{{ service.title | markdownify }}</h4>
          {% if service.desc %}<div class="text-muted">{{ service.desc | markdownify }}</div>{% endif %}
        </div>
	  {% endfor %}
      </div>

    </div>
  </section>
<!-- End Guidance -->